@import "~@flaticon/flaticon-uicons/css/all/all";
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer no-tailwindcss {
  /* This layer is disabled */
  @variants {
    .no-tailwindcss {
      all: unset;
    }
  }
}

body {
  color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.custom-datetime-picker {
  color: white !important;
  background-color: transparent !important;
  border-radius: 8px !important;
}
.react-datetime-picker__button__icon {
  //filter white
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
}
.react-datetime-picker__wrapper {
  border: none !important;
}

.react-calendar {
  color: black !important;
  background-color: white !important;
  z-index: 10000 !important;
  position: fixed !important;
}

.react-datetime-picker__clock {
  color: black !important;
  display: none;
}

.tox .tox-toolbar,
.tox .tox-toolbar__overflow,
.tox .tox-toolbar__primary {
  background-color: #434343 !important;
  border: none !important;
}

.tox:not(.tox-tinymce-inline) .tox-editor-header {
  background-color: #434343 !important;
  border: none !important;
}

.tox-tinymce {
  background-color: #434343 !important;
  border: none !important;
}

iframe {
  background-color: #434343 !important;
  cursor: text !important;
}

.tox .tox-statusbar {
  background-color: #434343 !important;
  border: none !important;
}

.circleBackdrop {
  position: absolute;
  width: 689px;
  height: 689px;
  left: calc(50% - 689px / 2 - 0.5px);
  border-radius: 500px;

  background: linear-gradient(
    180deg,
    #dd524c 0%,
    #d7443d 25%,
    #d1332e 50%,
    #cb2320 75%,
    #bb322c 100%
  );

  filter: blur(250px);
}

.circleBackdrop-sm {
  position: absolute;
  width: 275px;
  height: 275px;
  left: 278px;

  background: linear-gradient(
    180deg,
    #dd524c 0%,
    #d7443d 25%,
    #d1332e 50%,
    #cb2320 75%,
    #bb322c 100%
  );
  filter: blur(150px);
}
